/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
    background-image: radial-gradient(white, rgba(30, 143, 255, 0.598));
}

/* HEADER */
header{
    color: #fff;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: rgba(30, 143, 255, 0.523);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.221);
    position: fixed;
    top: 0;
    width: 100%;
}

/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button{
    outline: none;
    border: none;
    background: dodgerblue;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.413);
    transition: background 300ms;
}

button:hover{
    background: rgb(78, 167, 255);
}

#surnames li{
    list-style: none;
    color: white;
    padding: 20px 100px;
    margin: 10px 0;
    background-color: dodgerblue;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.413);
    border-radius: 8px;
    font-size: 1.2rem;
}