*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
}

header{
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: rgba(30, 143, 255, 0.523);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
}

button{
    outline: none;
    border: none;
    background: dodgerblue;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 300ms;
}

button:hover{
    background: rgb(78, 167, 255);
}